.slider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  .rc-slider-rail {
    background-color: #a8a8a8;
  }

  .slider-inputs {
    display: flex;
    gap: 10px;
    width: 100%;

    input {
      width: 50%;
    }
  }
}
